body{
  margin:0;
   text-align: center;

}
*{
  box-sizing: border-box
}
header{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #7CB4B8;
}
header>div{
 margin-top: 1rem;
  
}
.country_holder{
  background-color: aliceblue;
  width: 60% ;
  margin-left: 20% ;
  margin-top: 2rem;
  padding: 2rem;
  border-radius: 0.5rem;
}
.detail_div{
 display: flex;
 justify-content: space-between;
   
}




