body{
  margin:0;
   text-align: center;

}
*{
  box-sizing: border-box
}
header{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: rgb(255, 215, 0);
}
header>div{
 margin-top: 1rem;
  
}
header>h1{
  color:white;
  font-family:  'Times New Roman', Times, serif;
}





