body{
  margin:0;
   text-align: center;

}
*{
  box-sizing: border-box
}
header{
  display:flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: #7CB4B8;
}
header>div{
 margin-top: 1rem;
  
}





