 
.country_holder{
    background-color: skyblue;
    width: 60% ;
    margin-left: 20% ;
    margin-top: 2rem;
    padding: 2rem;
    border-radius: 0.5rem;
    font-family:  'Times New Roman', Times, serif;
  }
  .detail_div{
   display: flex;
   justify-content: space-between;
     
  }
  .header_holder{
    display: flex;
   justify-content: space-between;
  }